@model IEnumerable<AlmacenSistemaTG.Models.Equipo>

@{
    ViewBag.Title = "Index";
}

<div style="background-color:#FAFAFA;box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75)">
    <h2 style="padding-left:30%;padding-right:30%">Equipos</h2>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr style="background-color:#2E2E2E;color:#58ACFA">
        <th>
            @Html.DisplayNameFor(model => model.NoSerie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Existencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Proveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Almacen.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modelo.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NoSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Existencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Proveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Almacen.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modelo.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEquipo }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEquipo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEquipo })
        </td>
    </tr>
}

</table>
