@model IEnumerable<AlmacenSistemaTG.Models.Marca>

@{
    ViewBag.Title = "Index";
}
<div style="background-color:#FAFAFA;box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75)">
    <h2 style="padding-left:30%;padding-right:30%">Marcas</h2>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr style="background-color:#2E2E2E;color:#58ACFA">
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdMarca }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdMarca }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdMarca })
        </td>
    </tr>
}

</table>
