@model IEnumerable<AlmacenSistemaTG.Models.Modelo>

@{
    ViewBag.Title = "Index";
}

<div style="background-color:#FAFAFA;box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75)">
    <h2 style="padding-left:30%;padding-right:30%">Modelos</h2>
</div>

<p>
    @Html.ActionLink("Crear Nuevo Modelo", "Create")
</p>
<table class="table">
    <tr style="background-color:#2E2E2E;color:#58ACFA">
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdModelo }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.IdModelo }) |
            @Html.ActionLink("Borrar alv", "Delete", new { id=item.IdModelo })
        </td>
    </tr>
}

</table>
